@import url("https://use.typekit.net/rac0pki.css");
:root {
    --font-size-base: 1.25rem;
    --font-size-h1: 20vw;
    --font-size-h2: 6vw;
    --font-size-h3: 1.25rem;
    --color-accent: #db2523;
    --font-family-base: "antarctican-mono", sans-serif;
    --font-family-heading: "dharma-gothic-c", sans-serif;

}

body {
    background: #f3ede1;
    color: #181818;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base); 
}
h1, h2, h3,h4, h5, h6 {
    font-family: var(--font-family-heading);
    color: var(--color-accent);
    text-align: center;
}
h1 {
        background-color: #f3ede1;
        color: #181818;
    font-size: var(--font-size-h1);
    margin: 0;

}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family-heading);
     color: #181818;
     text-align: left;
    padding: 2rem;
}
h3 {
    font-size: var(--font-size-h3);
    text-align: left;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base); 
    padding: 2rem;
}
.hero {
    text-align: center;
}

.hero p {
    font-size: 1.50rem;
    width: 60%;
    margin: 2rem auto;
    font-weight: 600;
}

.hero h1 + p {
    font-size: 1.50rem;
    width: 60%;
    margin: 0 auto;
    font-weight: 600;
}

.hero h2 + p {
     padding: 2rem;    
    font-size: 1.50rem;
        margin: 0 auto;
        font-weight: 600;
        text-align: left;
    }

    .hero h3 + p {
        padding: 2rem;    
       font-size: 1.50rem;
           margin: 0 auto;
           font-weight: 600;
           text-align: left;
       }
